extend layout.pug

block content
  <div id="textWrap" class="clear bg1 fL">
    <div id="text">
      p.
        Charlie Marsh, the owner and founder of Marsh Tree and Landscaping, has been
        working with trees and landscaping for over 25 years. Charlie was born and
        raised in Bemus Point, NY. He still lives in Bemus with his wife and four
        children.</p><br />
      <h3>Our Equipment:</h3>
      <ul class="lsI">
        <li>Bobcat frontend loader</li>
        <li>Bucket Truck</li>
        <li>Chipper</li>
        <li>Crane Service</li>
        <li>Dump Trucks</li>
        <li>Stump Grinder</li>
        <li>Snow plow</li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
