extend layout.pug

block content
  #textWrap.clear.bg1.fL
    #text
      p
        | Charlie Marsh, the owner and founder of Marsh Tree and Landscaping, has been
        | working with trees and landscaping for over 25 years. Charlie was born and
        | raised in Bemus Point, NY. He still lives in Bemus with his wife and four
        | children.</p><br />
      h3 Our Equipment:
      ul.lsI
        li Bobcat frontend loader
        li Bucket Truck
        li Chipper
        li Crane Service
        li Dump Trucks
        li Stump Grinder
        li Snow plow
      .clear
