extends layout.pug

block content
  #textWrap.clear.bg1.fL
    #text
      .conHalf.fL.tC
        p Please feel free to call us at either:
        h4.number(itemprop="tel") Office: 555-555-5555
        h4.number(itemprop="tel") Cell: 555-555-5555
        p You may also contact us by e-mail: charlie@chautauquatree.com
      .clear
