extends layout.pug

block content
  <div id="textWrap" class="clear bg1 fL">
    <div id="text">
      <div class="conHalf fL tC">
        Please feel free to call us at either:<br />
        <h4 class="number" itemprop="tel">Office: 716-386-7642</h4>
        <h4 class="number" itemprop="tel">Cell: 716-499-2592</h4><br />
        p You may also contact us by e-mail: charlie@chautauquatree.com
      </div>
      <div class="clear"></div>
    </div>
  </div>
