extends layout.pug

block content
  p Please feel free to call us at either:
  h4.number(itemprop="tel") Office: 555-555-5555
  h4.number(itemprop="tel") Cell: 555-555-5555
  p You may also contact us by e-mail: no-email@jacobrswanson.com
