footer#footer.tC.clear
  .footLinks
    a(href="/" itemprop="url") Home
  .footLinks
    a(href="/about" itemprop="url") About Us
  .footLinks
    a(href="/tree_services" itemprop="url") Tree Services
  .footLinks
    a(href="/snow_services" itemprop="url") Snow Services
  .footLinks
    a(href="/contact" itemprop="url") Contact

  #footinfo(itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address")
    div(itemprop="name") Marsh Tree and Landscaping
    div(itemprop="street-address") 4946 Bayview Rd.
    div(itemprop="locality") Bemus Point
    div(itemprop="region") NY</span>, 14712</span>
    div(itemprop="tel") Office: 555-555-5555
    div(itemprop="tel") Cell: 555-555-5555
    p Serving <span itemprop="locality">Chautauqua</span> and <span itemprop="locality">Cattaraugus</span> county since 1988!
    p.fs14 Designed by: <a href="http://www.jacobrswanson.com" target="_blank">Jacob Swanson</a></p>

