footer(itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address")
  p.
    Serving <span itemprop="locality">Chautauqua</span> and
    <span itemprop="locality">Cattaraugus</span> county since 1988!
  a(href="http://www.jacobrswanson.com" target="_blank") Designed by Jacob Swanson

