<footer id="footer" class="tC clear">
  <div class="footlinks"><a href="index.html" itemprop="url">Home</a></div>
  <div class="footlinks"><a href="about_us.html" itemprop="url">About Us</a></div>
  <div class="footlinks"><a href="tree_services.html" itemprop="url">Tree Services</a></div>
  <div class="footlinks"><a href="snow_services.html" itemprop="url">Snow Services</a></div>
  <div class="footlinks"><a href="contact_us.html" itemprop="url">Contact</a></div>
  <div id="footinfo" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <span itemprop="name">Marsh Tree and Landscaping</span><br />
    <span itemprop="street-address">4946 Bayview Rd.</span>,
    <span itemprop="locality">Bemus Point</span>
    <span itemprop="region">NY</span>, 14712</span><br />
    <span itemprop="tel">Office: 555-555-5555</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <span itemprop="tel">Cell: 555-555-5555</span><br />
    Serving <span itemprop="locality">Chautauqua</span> and <span itemprop="locality">Cattaraugus</span>
    county since 1988!
    <p class="fs14">Designed by: <a href="http://www.jacobrswanson.com" target="_blank">Jacob Swanson</a></p>
  </div>
</footer>
