extends layout.pug

block content
  #textWrap.clear.bg1.fL
    #text
      img#treetrim.fL.pR10(src="/images/treeremove.jpg", alt="Marsh Tree and Landscaping Tree Trimming")
      h2.tC Welcome to Marsh Tree and Landscaping!
      h3.tC We're fully insured and offer free estimates!
      p From trees to weeds, we've got what you need!
      p
        | Are you looking for the best tree service and landscaping company in Chautauqua
        | County? Then you've come to the right place! At Marsh Tree and Landscaping
        | Service, we’ll give you the attention and personal service you’ll come to
        | expect and enjoy. We offer the best in <a href="/tree_services.html">tree
        | services</a> such as: tre e trimming, tree pruning, tree removal, lot
        | clearing, stump grinding, hazardous tree removal, emergency tree removal,
        | landscaping. We also offer <a href="snow_services.html">snow removal services</a>
        | such as: snow plowing, snow removal, and ice removal.</p><br />
      h4 Let us put our experience to work for you!
      .clear
