extends layout.pug

block content
  <div id="wrapper">

    <div id="textWrap" class="clear bg1 fL">
      <div id="text">
        <img src="/images/treeremove.jpg" id="treetrim" class="fL pR10" alt="Marsh Tree and Landscaping Tree Trimming" style="border: 0;" />
        <h2 class="tC">Welcome to Marsh Tree and Landscaping!</h2>
        <h3 class="tC">We're fully insured and offer free estimates!</h3><br />
        <p>From trees to weeds, we've got what you need!</p><br />
        p.
          Are you looking for the best tree service and landscaping company in Chautauqua
          County? Then you've come to the right place! At Marsh Tree and Landscaping
          Service, we’ll give you the attention and personal service you’ll come to
          expect and enjoy. We offer the best in <a href="/tree_services.html">tree
            services</a> such as: tree trimming, tree pruning, tree removal, lot
          clearing, stump grinding, hazardous tree removal, emergency tree removal,
          landscaping. We also offer <a href="snow_services.html">snow removal services</a>
          such as: snow plowing, snow removal, and ice removal.</p><br />
        <h4>Let us put our experience to work for you!</h4>
        <div class="clear"></div>
      </div>
    </div>
    <div id="side" class="bg1 fR">
      <h3 class="tU">We service all of the following locations:</h5>
        <h4 class="tU">Chautauqua County:</h6>
          All areas surrounding Chautauqua Lake including:
          <ul>
            <li>Bemus Point</li>
            <li>Busti</li>
            <li>Dewittville</li>
            <li>Dunkirk</li>
            <li>Fredonia</li>
            <li>Falconer</li>
            <li>Frewsburg</li>
            <li>Jamestown</li>
            <li>Mayville</li>
            <li>Panama</li>
            <li>Westfield</li>
          </ul>
          <h4 class="tU">Cattaraugus:</h4>
          <ul>
            <li>Allegany</li>
            <li>Gowanda</li>
            <li>Olean</li>
            <li>Randolph</li>
            <li>Salamanca</li>
          </ul>
    </div>
    <div class="clear"></div>
  </div>
