<!DOCTYPE html>

html(lang="en")
  head
    title= `${title} - Marsh Tree and Landscaping`
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description",content='Marsh Tree and landscaping has been taking care of all of Chautauqua and Cattaraugus counties tree, landscaping, and snow removal needs for over 25 years!')
    meta(name="theme-color",content="#007c17")
    meta(name="keywords" content="Chautauqua, Cattaraugus, Jamestown, Dunkirk, tree service, tree removal, landscaping, tree trimming")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600")
    block styles
      link(rel='stylesheet', type="text/css", href='styles/main.css')

  body
    include header.pug

    #content-wrapper
      #content
        block content
      include side_bar.pug

    include footer.pug

    block scripts
