<div id="side" class="bg1 fR">
  <h3 class="tU">We service all of the following locations:</h3>
    <h4 class="tU">Chautauqua County:</h4>
      All areas surrounding Chautauqua Lake including:
      <ul>
        <li>Bemus Point</li>
        <li>Busti</li>
        <li>Dewittville</li>
        <li>Dunkirk</li>
        <li>Fredonia</li>
        <li>Falconer</li>
        <li>Frewsburg</li>
        <li>Jamestown</li>
        <li>Mayville</li>
        <li>Panama</li>
        <li>Westfield</li>
      </ul>
      <h4 class="tU">Cattaraugus:</h4>
      <ul>
        <li>Allegany</li>
        <li>Gowanda</li>
        <li>Olean</li>
        <li>Randolph</li>
        <li>Salamanca</li>
      </ul>
</div>
