extends layout.pug

block content
  h3.align-center We service all driveways and parking lots!
  p.
    In the winter months, we have a dedicated snow plowing and removal
    route around Bemus Point and the surrounding areas. Give us a call so on those
    freezing cold winter mornings, you don't have to go out and shovel. We plow in
    the early hours of the morning so you wake up to a clean driveway and don't
    have to worry about making it to work on time.</p><br />

  h4 We offer the following snow services:
  ul
    li Snow plowing
    li Snow removal
    li Ice salting
