extends layout.pug

block content
  <div id="textWrap" class="clear bg1 fL">
    <div id="text">
      <h3 class="h5land tC">We service all driveways and parking lots!</h3><br />
      p.
        &emsp;&emsp;In the winter months, we have a dedicated snow plowing and removal
        route around Bemus Point and the surrounding areas. Give us a call so on those
        freezing cold winter mornings, you don't have to go out and shovel. We plow in
        the early hours of the morning so you wake up to a clean driveway and don't
        have to worry about making it to work on time.</p><br />
      <ul class="tC lsI">
        <h4 class="tU">We offer the following snow services:</h4>
        <li>Snow plowing</li>
        <li>Snow removal</li>
        <li>Ice salting</li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
