extends layout.pug

block content
  img(src="/images/treetrim.jpg", alt="Marsh Tree and Landscaping Tree Trimming" align="left")

  h3 Tree Trimming and Pruning:
  div We can easily trim or remove any hazardous or storm damaged trees on your property.

  h3 Tree Removal and Lot Clearing:
  div Our crane and bucket trucks can safely remove large trees near homes and overhead wires.

  img(src="/images/felledtree.jpg", alt="Marsh Tree and Landscaping Felled Tree" align="right")

  h3 Stump Grinding and Removal:
  div Our stump grinding equipment can safely and quickly remove all size stumps.

  h3 Fire Wood:
  div We have firewood available to buy!

  h3 Hazordous and Emergency Tree Removal or Clean Up:
  div We will quickly and efficiently remove or clean up any debris left behind by a storm or a natural disaster.

  h3 Landscaping:
  div
    ul
      li Spring cleanup
      li General maintinance (Pruning/Trimming)
      li New lawn installation
      li Dirt, sand, gravel, mulch, and stone delivery and placement
      li Driveway restoration and installation
