extends layout.pug

block content
  <div id="textWrap" class="clear bg1 fL">
    <div id="text">
      <img src="public/images/treetrim.jpg" class="fL pR10" alt="Marsh Tree and Landscaping Tree Trimming" />
      <h3 class="h3tree tL tU">Tree Trimming and Pruning:</h3>
      div.
        &emsp;&emsp;We can easily trim or remove any hazardous or storm damaged trees
        on your property. </div>
      <h3 class="h3tree tL tU">Tree Removal and Lot Clearing:</h3>
      div.
        &emsp;&emsp;Our crane and bucket trucks can safely remove large trees near
        homes and overhead wires.
      <img src="public/images/felledtree.jpg" class="fR" alt="Marsh Tree and Landscaping Felled Tree" />
      <h3 class="h3tree tL tU">Stump Grinding and Removal:</h3>
      div &emsp;&emsp;Our stump grinding equipment can safely and quickly remove all size stumps.
      <h3 class="h3tree tL tU">Fire Wood:</h3>
      <div>&emsp;&emsp;We have firewood available to buy!</div>
      <h3 class="h3tree tL tU">Hazordous and Emergency Tree Removal or Clean Up:</h3>
      div.
        &emsp;&emsp;We will quickly and efficiently remove or clean up any debris left
        behind by a storm or a natural disaster.
      <h3 class="h3tree tL tU">Landscaping:</h3>
      <div>
        <ul class="lsI">
          <li>Spring cleanup</li>
          <li>General maintinance (Pruning/Trimming)</li>
          <li>New lawn installation</li>
          <li>Dirt, sand, gravel, mulch, and stone delivery and placement</li>
          <li>Driveway restoration and installation</li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
